[2020-04-04 01:04] AceHack opened #1 "Can you upstream the ability to use plugin block?"
thanks.

[2020-04-04 22:46] eirnym commented on #1
@AceHack Thank you for a question,

I don't see if it would ever happen, due to no answer in my issue on this and little interest on this plugin of the author. Gradle publishing requires to use gradle, not maven, and author doesn't use it at all. Using the plugin from different repository in corporative environment is a big pain.

I'll make sure that I go as close to versions as possible.

Some of

[2020-04-07 07:00] #1 closed

[2020-05-28 14:07] AlexTrotsenko opened #2 "Send a pull request to original repo"
@eirnym  this more a question if you are planning to contributed back to the original repo of jsonschema2pojo or to keep this as a separate plugin ?

I guess it would be for the best of everyone to have latest version of jsonschema2pojo and your improvements to the build script.

What do you think?

See https://github.com/joelittlejohn/jsonschema2pojo/issues/896#issuecomment-611504009

[2020-06-05 08:01] eirnym commented on #2
@AlexTrotsenko Thank you for a question.

Long story short, I don't see this plugin merged back. Currently, I'm subscribed on release notifications of jsonschema2pojo and have full support for the latest version. When new version is out, I'll update the plugin.

Long story:

There's few major obstacles there to merge the plugin back, and the resolution proposition at the end.

First is quite obvio

[2020-06-05 08:01] #2 closed

[2020-06-11 22:56] AlexTrotsenko commented on #2
@eirnym  thanks for the info, let's continue discussion in original repo together with @joelittlejohn

[2020-06-12 08:24] eirnym commented on #2
@renannprado as we agreed with @joelittlejohn, this will be an official gradle plugin. No need to worry about "outdated versions" or anything else.

I don't understand the idea to merge everything into the single repository. There's many examples where you use official plugins maintained by other people in separate repositories. These examples include Lombok, Checker Framework and any xjc plugin.

[2020-06-12 08:38] renannprado commented on #2
@eirnym if you finally could get to a common ground on this subject all good :)

[2020-07-13 13:02] AlexTrotsenko opened #4 "Make plugin to be jsonschema2pojo official plugin"
1. Update readme so that it's written, that it's official Gradle plugin of [jsonschema2pojo](https://github.com/joelittlejohn/jsonschema2pojo)
_(I have created the MR for this: https://github.com/eirnym/js2p-gradle/pull/3)_
2.  Update the name of the repo and the plugin from `js2p` to `jsonschema2pojo` so that it's easier to discover and understandable by everyone.
_(As far as I know GitHub will a

[2020-07-13 13:10] AlexTrotsenko opened #5 "Document Usage and Configuration"
See [Usage documentation](https://github.com/joelittlejohn/jsonschema2pojo/tree/master/jsonschema2pojo-gradle-plugin#usage) in original plugin repo.

Currently configuration only partially shown in the [example](https://github.com/eirnym/js2p-gradle/blob/aef89d35d8a0e3e0965b46752fc2697522157bd6/example/java/build.gradle#L23) of _build.gradle_.

[2020-07-14 09:04] eirnym commented on #5
Thanks, I'll update this repo as soon as possible

[2020-08-12 10:18] hannesa2 opened #8 "usage of deprecated pulgin"
https://github.com/eirnym/js2p-gradle/blob/48448299fde75215819f643b6b8be2a40cab1e98/build.gradle#L35

You use it here, but it's deprecated. Isn't it smarter to move the stuff here, or even much smarter to maintain the other one instead of this repo ?
It's only very confusing !

[2020-08-12 10:31] hannesa2 opened #9 "Android Parcelable unused import"
It's a copy from https://github.com/joelittlejohn/jsonschema2pojo/issues/1150 (It's confusion where to post an issue)

![image](https://user-images.githubusercontent.com/3314607/90005200-23fa4c80-dc97-11ea-9fd0-5d95af19ab21.png)

How to get rid of this unused imports ?

This is the only place I found, but to be honest, I don't understand what's going on there

https://github.com/joelittlejohn/json

[2020-09-04 01:22] KengoTODA opened #10 "`includeAdditionalProperties ` cannot work when `annotationStyle` is 'gson'"
Here is [my MCVE project](https://github.com/KengoTODA/js2p-gradle-reproduction/blob/main/build.gradle). You can find the following configurations in `build.gradle`:

[code]

When you run `./gradlew generateJsonSchema2Pojo --info` in this MCVE project, you'll find that the generated class has no `additionalProperties`. You'll also find that the `includeAdditionalProperties` option is not provided

[2020-09-04 09:09] KengoTODA commented on #10
I found that this problem comes from the core `jsonschema2pojo` implementation:

https://github.com/joelittlejohn/jsonschema2pojo/blob/47456b34e5a028e0c8d56d3ca00a8e57be509ac5/jsonschema2pojo-core/src/main/java/org/jsonschema2pojo/GsonAnnotator.java#L59

I'll use another annotation style to avoid. Thank you :)

[2020-09-04 09:09] #10 closed

[2020-10-05 11:52] huehnerlady commented on #8
Is there an update on this? I agree I find it very confusing why the other one is deprecated 🤔

[2020-12-17 09:26] jhhdk opened #12 "Can't read json schemas from classpath"
Suppose i have a schema with definitions in jar and I want to generate classes from a schema that uses those definitions.
That doesn't seem to work with gradle plugin (this or the deprecated one), but it works fine in maven.
[test.zip](https://github.com/eirnym/js2p-gradle/files/5708267/test.zip)

[2020-12-20 07:08] eirnym commented on #12
Thank you for a proposition, I'll see what I can do for it

[2021-01-04 19:04] PRAquilone opened #13 "GenerateJsonSchema2Pojo Does Not Allow DependsOn or Timing"
I have a series of subprojects in a multi-project setup.  What I need is to have the generate occur when we would get to step 3 of 7.  Only it always runs before step 1.  This means that the files are not in place (because they need minor modification before generating).  Here is my build.gradle for the generate subproject.

[code]

You can see I have tried a couple of things

[code]

But these do

[2021-01-04 19:20] ben-manes commented on #13
You probably need to remove the default dependsOn relationship to establish your own ordering. I forget the exact DSL syntax, but its something like `abc.dependsOn.remove('xyz')`.

https://github.com/eirnym/js2p-gradle/blob/48448299fde75215819f643b6b8be2a40cab1e98/src/main/groovy/com/github/eirnym/js2p/GenerateJsonSchemaJavaTask.groovy#L57-L58

[2021-01-05 00:27] PRAquilone commented on #13
@ben-manes adding processResources dependsOn my previous subproject has done the trick.  Thanks.

[2021-02-05 21:40] eirnym commented on #4
Hi,

I'm sorry, past year was tough for me, but I finished the task and we can go further.

Your PR is merged, name is changed

[2021-02-05 21:40] #4 closed

[2021-02-05 21:43] eirnym commented on #8
Thank you for an issue, could you guide me what is deprecated? And PR is welcome :)

PS: As far as I read documentation on Gradle, `implementation` is actually suggested way to define dependencies. Am I misread it?

[2021-02-05 21:45] eirnym commented on #9
Thank you,

I'll review it as soon as possible, and will add support for Android

[2021-02-05 21:47] eirnym commented on #13
Thank you for a well-defined issue

I'll review my plugin and follow suggestions.

[2021-02-05 22:19] hannesa2 commented on #8
Sorry, a lot of time is in between ....
As far as I remember there were two repos and one was deprecated and this should be the future .... am I right ?

If yes: why ?
What's against do harmonize them ?

[2021-02-05 22:53] eirnym commented on #8
There's a very old gradle plugin in jsonschema2pojo and I created this one as I needed it at work. Later we [decided](https://github.com/joelittlejohn/jsonschema2pojo/issues/1070) with the author to make this one as an official plugin (this task waited almost for a year).

Few days ago my repo was [cloned](https://github.com/niebes/js2p-gradle/tree/kotlin) and updated to have better support for Ko

[2021-02-06 06:49] hannesa2 commented on #8
Isn't it smarter to make you a maintainer in https://github.com/joelittlejohn/jsonschema2pojo and move this changes there to avoid confusion ?

If it's not possible, you need a good `README.md` like in the old deprecated. In the old, I would remove a lot content in `README.md`

Sadly, the future of a lot of Github projects: the maintainer disappears and project dies slowly.
There is no relay race

[2021-02-06 06:49] #8 closed

[2021-02-06 08:39] eirnym commented on #8
The issue that I can't use other plugin with grade 6.2.2 was open for a month. And original repository is maven based, not grade based.

By the way, other projects do the same, like checkerframework.

[2021-02-06 08:39] eirnym commented on #8
Do you want to be a maintainer?

[2021-02-06 08:42] hannesa2 commented on #8
Ok, I can do. But mostly as backup to avoid a dead project

[2021-02-06 08:44] hannesa2 commented on #8
Currently there is
https://github.com/joelittlejohn/jsonschema2pojo
https://github.com/eirnym/js2p-gradle/

Why not create an organization `jsonschema` and move repos to it

https://github.com/jsonschema/jsonschema2pojo
https://github.com/jsonschema/js2p-gradle

... or similar. Then it's clear, that they belong to each other

[2021-02-06 09:13] eirnym commented on #8
I proposed that way, but this was rejected

[2021-02-06 09:21] eirnym opened #21 "Convert propertyWordDelimiters to a string"
Char array is not a convenient way to define this parameter. Plugin should be able to separate it to a char array internally

[2021-02-06 11:36] eirnym opened #22 "Add back an android example"
Android example was cut off because I had no time to create even a sample app to test it. We need to add back an android example

[2021-02-06 11:38] eirnym opened #23 "Add Kotlin generation support"
Add Kotlin generation like it's done in https://github.com/niebes/js2p-gradle/tree/kotlin

[2021-02-06 11:41] eirnym commented on #23
@hannesa2 would you like to create a PR for this feature?

[2021-02-06 11:46] hannesa2 commented on #23
I already did it https://github.com/hannesa2/js2p-gradle/tree/KotlinGenerator but they changed too much

[2021-02-06 12:05] eirnym commented on #23
What do you think if we force push or add an additional commit could make this PR mergeable to master without loosing the recent changes?

[2021-02-06 12:21] hannesa2 commented on #23
Here you go https://github.com/eirnym/js2p-gradle/pull/24 it in this repo. That mean, you can change what you want.
Do git push force, but please use this `git push --force-with-lease ` to avoid unwanted overwrites

[2021-02-07 06:34] hannesa2 commented on #8
Btw, the oranization https://github.com/jsonschema is already occupied

[2021-02-09 06:10] hannesa2 commented on #8
What do you think to move this repo to https://github.com/schemajson
I invited you and will make you an owner, when you accept the invitation

[2021-02-10 00:01] eirnym commented on #8
Which JSON schema related repositories you want to have in this organization? If we're talking on Java, there's a lot of them covering various parts.

You already mentioned 2 of them, I'd add JsonToKotlinClass and their gradle plugin. What's about checking? what's about integration with Spring for example?

[2021-02-10 07:11] hannesa2 commented on #8
I deleted the organization, but I recommend to search for an own name.

Having this "official jsonschema2pojo Gradle plugin" in your _personal account_ does not help from the do-what-you-whant-but-leave-me-alone suspect of the well-known predecessor repo.

Having an organization comes with the touch of more professionalism and more support

[2021-02-10 12:47] sergeykad opened #30 "Release 1.1 is not available on the Gradel portal"
Build fails with the following message: `Plugin [id: 'com.github.eirnym.js2p', version: '1.1'] was not found in any of the following sources`

Also, will it be possible to add release notes?

[2021-02-10 14:34] eirnym commented on #8
I'll think about this. It's not a question, where we should rush things.

BTW, there's checkerframework with the same model

[2021-02-10 14:38] eirnym commented on #30
It's true. README is lacking some information on this topic.

Since plugin became an official one, I published it under another name and old name won't receive any updates.

[2021-02-10 14:38] eirnym commented on #30
Yes, release notes are important for this kind of software. I'll add some

[2021-02-17 11:02] KengoTODA commented on #30
I searched the plugin portal by the [ID described in the `build.gradle`](https://github.com/eirnym/js2p-gradle/blob/v1.1/build.gradle#L26), but I cannot find it:

https://plugins.gradle.org/search?term=org.jsonschema2pojo

Is it still under the review by the Gradle team? The first release with new ID could take time for a while.

[2021-02-17 11:16] KengoTODA commented on #13
I'm not sure what happens so much, but if it comes from the default convention, we can relax it by [splitting capabilities and conventions by providing a base plugin](https://docs.gradle.org/current/userguide/designing_gradle_plugins.html#capabilities-vs-conventions).

[2021-02-18 05:50] dan-lind opened #31 "Possible to run with separate settings for different files?"
More of a question than an actual issue:

I was wondering if it is somehow possible to run with separate settings for different files? In my example, I have schemas that look a little bit different, but have overlapping names. As such, I need to prefix each of the generate pojos a bit differently.

I have currenly resolved to using a bash script and the CLI like this

[code]

This works but is giv

[2021-02-18 23:36] eirnym commented on #30
Thank you, it's quite interesting. I'll try to republish it once again

[2021-02-18 23:47] eirnym commented on #30
Now it's under a review. I hope it will pass it and I'll get a message about.

[2021-02-18 23:51] KengoTODA commented on #30
Or please log-in to the plugin portal, then you may find the reason. In my case, there was a text telling that their review was in progress.

[2021-02-19 10:57] eirnym commented on #30
Currently it's pending

[2021-02-19 18:21] eirnym commented on #31
Hi @dan-lind

Could you help me by providing an example, how do you see a configuration for such scenario in a single `build.gradle`? I'm really curious how to implement this correctly.

Most plugins generating code I know prefer to have single configuration per build file. In a few projects I use a common include file `$projectDir/gradle/json.gradle` to provide most of settings for such modules a

[2021-02-19 20:30] dan-lind commented on #31
Yeah I've been thinking about it but not quite sure what would be the best way.
I was thinking about something along the lines of an array of source files, where each files is represented by a map holding the path for that specific file plus any specific settings for that file.

Something along those lines (not sure this is syntactically correct but I hope the idea comes across)

[code]

[2021-02-20 16:29] eirnym commented on #31
In this example I see `sourceFiles` as list of configuration objects. In such way we won't break object model of this configuration at the first place. Cutting down to a simple cases, such that we have no options to reconfigure for each path we have an example below. And within this example we have 2 major problems: 1) it's not a backward compatible way to define settings (I won't promise here to

[2021-02-20 16:32] eirnym commented on #31
BTW, I have a systematic question for such modules in projects. Why not to create a separate package for them, put them _once_ in a repository and forget about them before next change? I see that in Java on every corner, however, everything compiles much faster when you don't generate POJOs every time

[2021-02-21 12:27] dan-lind commented on #31
In my example above I just used 3 schemas, but in reality we have 12 schemas, and some of those are on revision 8 at this point. I'm very glad that we have the opportunity to regenerate the POJOs on change rather than having to manually update the models.

[2021-02-25 23:20] eirnym commented on #30
It's been approved! https://plugins.gradle.org/plugin/org.jsonschema2pojo

[2021-02-26 05:49] hannesa2 commented on #30
What can I do, do automate this here https://github.com/eirnym/js2p-gradle/blob/master/.github/workflows/release.yml ?

[2021-02-26 06:56] KengoTODA commented on #30
Once approved, coming releases will be published quickly.
Just run [`:publishPlugins task`](https://docs.gradle.org/current/userguide/publishing_gradle_plugins.html) in workflow, then we can automate release process.

[2021-02-26 13:42] eirnym opened #34 "Automate plugin versioning in tests"
Currently tests rely on plugin version. On release action we update the version and plugin has been tested with an old one.

Goal is to automate plugin versioning in all tests to be less error-prone.

[2021-02-27 12:17] eirnym commented on #30
I have sad news, release 1.1 won't be in plugins.gradle.com soon

[2021-02-28 20:32] eirnym commented on #30
@KengoTODA please, join the discussion https://github.com/joelittlejohn/jsonschema2pojo/issues/1070

[2021-03-01 14:20] eirnym commented on #30
I rebranded it to `org.jsonschema2dataclass` and we published it again. https://github.com/jsonschema2dataclass/js2d-gradle/pull/38#issuecomment-787983348

[2021-03-01 15:16] eirnym commented on #31
Great, thank you

I think it'd be easy to implement. PRs are welcome

[2021-03-01 15:21] eirnym opened #42 "Prerelease handling"
Currently prereleases are not handled at all. we should provide a check to handle in the release action

[2021-03-01 15:28] hannesa2 commented on #42
Simply ?

[code]

You can do this https://hub.github.com/hub-release.1.html

But I'm out of ideas about a deeper sense of a pre-release.

[2021-03-01 16:11] hannesa2 opened #43 "Right name ?"
https://github.com/jsonschema2dataclass/js2d-gradle/blob/4263e03f355ec5dd29f3a047dff8ba82ee03493f/settings.gradle#L1

I guess not

[2021-03-01 16:23] eirnym commented on #42
Good idea to use it. Also there's a checkbox "pre-release" when you hit "new release" button in UI. GitHub has special handling for that

[2021-03-01 16:24] eirnym commented on #42
Currently it's an idea and I doesn't know if we should handle this at all

[2021-03-01 16:25] eirnym commented on #43
Missed that

[2021-03-01 16:43] #43 closed

[2021-03-02 11:31] eirnym commented on #30
version 1.2.3  is published
 https://plugins.gradle.org/plugin/org.jsonschema2dataclass

[2021-03-02 11:31] #30 closed

[2021-03-02 11:32] hannesa2 commented on #30
Thank you, I already found it

[2021-03-02 11:43] hannesa2 commented on #22
Pull request https://github.com/jsonschema2dataclass/js2d-gradle/pull/47 is on the way. I close this

[2021-03-02 11:43] #22 closed

[2021-03-07 22:38] #21 closed

[2021-03-08 05:46] hannesa2 opened #58 "Andorid sample has issue with lib2"
It's curious, library `lib2` isn't recognized well. It's not bold

![image](https://user-images.githubusercontent.com/3314607/110279763-f0d42d80-7fd9-11eb-8638-95bee24748f7.png)

[2021-03-08 06:05] #58 closed

[2021-03-08 13:03] eirnym commented on #9
Thank you for an android example. This is a problem of the underlying library. I'll get notified as well on it.

[2021-03-08 13:03] #9 closed

[2021-03-08 13:05] eirnym commented on #34
it's not really needed as they take plugin from build environment

[2021-03-08 13:05] #34 closed

[2021-03-10 07:19] hannesa2 commented on #42
Or the switch `-p` is added anyhow on tag-name condition `alpha` or `beta` in this line https://github.com/jsonschema2dataclass/js2d-gradle/blob/c1904268c631343fb2651b3d9db9697964e87901/.github/workflows/release.yml#L37

[2021-03-10 11:18] #42 closed

[2021-03-14 10:43] eirnym opened #71 "@Generated annotation cannot be found for java 9+ for Android projects"
`jsonschema2pojo` sets `Generated` annotation based on **build tool** java version instead of target Java version.

AGP 7+ requires Java 11 according to the [article](https://android-developers.googleblog.com/2020/12/announcing-android-gradle-plugin.html?m=1).

Additionally, `javax.annotation.Generated` could be found in external libraries like `javax.annotation:javax.annotation-api`, while `javax

[2021-03-14 18:00] eirnym commented on #5
@AlexTrotsenko I updated the documentation in #74

Please, review it and any further help is welcome

[2021-03-14 18:32] #5 closed

[2021-03-18 12:48] eirnym commented on #13
@PRAquilone there's a lot of things changed inside the plugin lately. Could you recheck if something left to fix here?

[2021-03-22 21:54] eirnym opened #78 "Target folder prefix in configuration"
plugin configurations usually define target folder prefix. Implement if needed

[2021-03-22 22:57] eirnym commented on #31
@dan-lind Hey, sorry for the delay, I implemented the feature. Will add more tests for it later

[2021-03-23 13:06] eirnym commented on #78
@hannesa2 what do you think on this matter

[2021-03-23 13:09] eirnym commented on #31
dsl is something like this:

[code]

[2021-03-23 14:59] hannesa2 commented on #78
For me it's not clear what this is.
When there is something like this

`targetDirectory = file("${project.rootDir}/build/generated-sources/js2p")`

how does is looks like with a `targetFolderPrefix` ?

[2021-03-23 15:16] hannesa2 commented on #78
Btw, I see it's not working at all

<img width="1046" alt="image" src="https://user-images.githubusercontent.com/3314607/112170072-0dd04980-8bf3-11eb-90a9-a7dbb0d0d02c.png">

[2021-03-23 16:37] eirnym commented on #78
@hannesa2 yeah, I've removed it mostly because I don't understand the value of it.

Will it be enough to define `targetDirectoryPrefix` only for the top configuration, or should we define it for each execution?

[2021-03-24 17:16] #78 closed

[2021-03-29 22:22] eirnym commented on #31
@dan-lind 3.0.0 is just released with your feature in. After it'd be published, you're welcome to test!

[2021-03-30 04:53] dan-lind commented on #31
Sure, I will take a look!

[2021-03-31 12:39] hannesa2 opened #89 "CI and Java 11 don't find error on Android"
https://github.com/jsonschema2dataclass/js2d-gradle/pull/88/checks?check_run_id=2236277886

It's not caused on appearing pull request

[code]

When you see this, a follow up error will be ignored. Java 8 works fine.
With this a test with java 11 and 15 is pointless.

Any clue how to get rid of it ?

[2021-03-31 13:13] eirnym commented on #89
Currently it's fine.

This is because gradle uses pretty old groovy. This could be fixed in Gradle 7.0

PS: I'm ok with transition of our plugin to Kotlin.

[2021-03-31 13:36] eirnym commented on #89
@hannesa2 What do you think on migration of the whole plugin to Kotlin

[2021-03-31 13:42] hannesa2 commented on #89
It would be nice, Kotlin is for me the best choice and I never did anything with groovy, but I never did Gradle+Kotlin

[2021-03-31 13:57] eirnym commented on #89
With Gradle (in opposite to maven), Kotlin runs good along with java and groovy, so migration could be done small part-by-part in separate PRs without breaking anything

I think we could start with demos, tests and build files, after this we would be able to transfer groovy core.

Plugin core has a only one place written with groovy-way magic. this place is the constructor of `JS2PConfig` class, w

[2021-03-31 16:33] hannesa2 commented on #89
Nice idea, but I can't promise anything.
See #90

[2021-06-27 20:02] eirnym opened #118 "Produce a warning if no files given"
When no files given in a filter to source files, raise a warning for a user

[2021-06-29 19:19] eirnym opened #133 "Strange behaviour on publishing a release"
Release 3.1.0 has bot been published properly

[2021-07-27 03:10] pgalbraith opened #147 "gradle build works once, fails on second attempt"
Not sure if I'm doing something wrong, but here's a simple project to reproduce this behaviour.  "./gradlew build" works on the first run, but fails when run a second time because it cannot find the generated class.

[code]

[generated-sources-error.zip](https://github.com/jsonschema2dataclass/js2d-gradle/files/6882398/generated-sources-error.zip)

[2021-07-27 06:13] eirnym commented on #147
Thank you for an issue, I'll look into it today

[2021-07-27 19:20] pgalbraith commented on #147
Inspiration struck me overnight, I bet this is because of the way I'm
specifying the source schema files.  Someone had mentioned this to me here
before, which I promptly forgot about and I didn't take that advice, and I
bet that's the problem :-).  I will update this tonight.

On Tue., Jul. 27, 2021, 02:13 Arseny Nasokin, ***@***.***>
wrote:

[2021-07-28 01:44] pdg-chargelab commented on #147
No it turns out that wasn't the problem.  I changed this:

`source = files("${sourceSets.main.output.resourcesDir}/schema")`

to this instead:

`source.setFrom files("${project.rootDir}/src/main/resources/schema")`

But I still have the same problem, the first gradle build succeeds and subsequent ones fail (until clean/build again).

[2021-07-28 06:17] eirnym commented on #147
Thank you for an investigation, I'll add a test for it

[2021-09-07 01:05] sergejkv commented on #133
Hi, any updates on this? 3.1.0 is still not available on gradle plugin portal.

[2021-09-07 05:25] hannesa2 commented on #133
Where do you search ?

[2021-09-07 13:37] sergejkv commented on #133
https://plugins.gradle.org/plugin/org.jsonschema2dataclass

[2021-09-07 20:44] eirnym commented on #133
Yes, it wasn't published. Give me a few days to sort out a few things

[2021-11-21 17:30] dtrunk90 commented on #147
Same for me with a Spring Boot application.

[2021-11-22 22:16] eirnym opened #190 "Write separate tests for various gradle versions"
Integration tests shown, that I was unable to execute tests in gradle plugin for previous versions due to groovy incompatibilities.

Possible solution: move tests to a separate sub-project and run these tests just after main application build

[2021-11-23 19:45] eirnym commented on #147
Upgraded plugin to 3.2.1, still working on the issue

[2021-12-03 07:37] eirnym commented on #190
Closing as rewrite to Kotlin solves the problem

[2021-12-03 07:37] #190 closed

[2021-12-03 14:25] eirnym opened #199 "Migrate to TaskProvider instead of generating tasks"
Gradle prefers to use TaskProvider than task generation.

This will move task generation to another project cycle (`afterEvaluate` is a bad practice as per Gradle documentation)

[2021-12-03 14:28] eirnym opened #200 "Support for Android Feature along with Application and library"
Basically the same thing, different place to take attach points from

[2021-12-03 16:00] #147 closed

[2021-12-03 16:06] #89 closed

[2021-12-03 17:43] eirnym commented on #133
logic is moved to `buildSrc`, variable VERSION  removed from workflow

[2021-12-03 17:43] #133 closed

[2021-12-03 17:45] eirnym commented on #13
I can't reproduce the issue anymore. Please reopen if it's not fixed

[2021-12-03 22:51] eirnym opened #205 "Configure Publish Unit Test plugin"
Configure publish unit test plugin to publish results to support matrix

As a bonus: remove results archive if all tests has passed

[2021-12-04 00:34] #199 closed

[2021-12-05 15:20] eirnym commented on #23
Now plugin is written in Kotlin and we can add Kotlin generator as well.

[2021-12-06 05:41] hannesa2 commented on #200
Hmm, there is already an Android app and library using it. What's the question exactly ?

Btw, you removed the `androidDev` which used this plugin as code and not like `android` as library

* androidDev: for current development
* android: to test build artifact (from previous release)

[2021-12-06 10:04] eirnym commented on #200
Yes, I temporary removed an app to test against previous version. It's worth a while to add them back.

My plan was to add them back with a post-release automatic update if it wasn't a release candidate. What do you think about?

[2021-12-06 10:06] eirnym commented on #200
Btw this task became a bit bigger when I discovered proper way to attach to different AGP versions. I have no samples though.

[2021-12-06 10:08] eirnym commented on #200
Returning to testing vs demos, I wonder if we can just add last line with `includeBuild` on the fly and get rid of making copies

[2021-12-06 10:12] eirnym opened #206 "AGP 3.x sample"
Android sample uses AGP 3.x is missing. Google releases updates for this branch, so it should be supported.

Beside sample code, I haven't found  supported by AGP 3.x Gradle version range.

[2021-12-06 10:13] eirnym opened #207 "AGP 4.x sample"
Android sample uses AGP 4.x is missing. Google releases updates for this branch, so it should be supported.

Beside sample code, I haven't found supported by AGP 4.x Gradle version range.

[2021-12-06 10:18] eirnym opened #208 "Make samples as demos"
Make demos independent of development version and switch them to released versions.

While building a version CI able to add `includeBuild` line to test against current development version

[2021-12-07 00:33] eirnym opened #213 "Android Integration tests"
Plugin has java app/library integration tests already, android integration tests are missing.

[2021-12-07 00:38] eirnym opened #214 "Revise demo building"
Demos should be built when specific folder has been updated (on PR)

Additional info: `lint` task for android apps is failing from time to time

[2021-12-07 10:00] hannesa2 commented on #214
Why put afford in this ? Demos are build in parallel and you will not save time

[2021-12-07 10:02] hannesa2 commented on #206
Who needs this ? Simply don't support AGP 3.x.  Who needs it should put afford into this

[2021-12-07 11:23] eirnym commented on #214
there's no need to build a demo, which depends on public release on every PR. More so, all demos depending on other versions of AGP can't be built using `includeBuild` option in `settings.gradle`, or at least as I haven't found a easy way do do it.

[2021-12-07 11:25] eirnym commented on #206
makes sense. AGP 4.x needs the same level of support, though :)

[2021-12-09 06:56] gAmUssA opened #218 "trying to create the same field twice"
Hi!
More question than issues.
I have a piece of schema that has this

[code]
specifically,

[code]

`Cause: trying to create the same field twice: config`

Is there a workaround for this type of situation.

[2021-12-09 07:03] gAmUssA opened #219 "how to configure task with kotlin dsl"
hello!
how I can configure task if I use Kotlin DSL to author my buildscript?

[code]
doesn't work in kotlin.

Thank you

[2021-12-09 22:45] #200 closed

[2021-12-09 22:45] #208 closed

[2021-12-09 22:45] #219 closed

[2021-12-09 22:46] eirnym commented on #219
Oh, thank you! this was a serious issue with extension class visibility. Now you have a Kotlin DSL primer and fixed plugin!

[2021-12-09 22:48] eirnym commented on #218
Let me check where this is happening.
Jsonschema2pojo doesn't support underscore at the front of a variable

[2021-12-10 00:07] gAmUssA commented on #218
Thank you. we use this in https://github.com/Kong/deck/blob/main/file/kong_json_schema.json to have the ability to override config https://docs.konghq.com/deck/1.8.x/guides/deduplicate-plugin-configuration/

[2021-12-14 23:52] #207 closed

[2021-12-14 23:52] #214 closed

[2021-12-14 23:52] #206 closed

[2021-12-15 23:12] eirnym commented on #218
The solution is to create a RuleFactory for the generator.
The problem is plugin doesn't have support for plugins yet. it's my next task. give me a few days and I'll sort it out.

[2021-12-15 23:13] eirnym commented on #213
I tend to abandon this idea as we have demos.

[2021-12-15 23:13] #213 closed

[2021-12-15 23:29] gAmUssA commented on #218
Wow, thank you so much!

On Wed, Dec 15, 2021 at 18:12 Arseny Nasokin ***@***.***>
wrote:

--
With best regards,
Viktor Gamov

[2021-12-17 19:28] eirnym opened #256 "Add AGP7 support"

[2021-12-19 23:29] Ale0x78 opened #258 "[Security] Workflow build.yml is using vulnerable action gradle/wrapper-validation-action"
The workflow build.yml is referencing action gradle/wrapper-validation-action using references v1. However this reference is missing the commit [89eda1fdc0167f59521d2bb10767f7169fb4d018](https://github.com/gradle/wrapper-validation-action/commits/89eda1fdc0167f59521d2bb10767f7169fb4d018) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could

[2021-12-19 23:29] akulpillai opened #259 "[Security] Workflow gradle-wrapper-validation.yml is using vulnerable action gradle/wrapper-validation-action"
The workflow gradle-wrapper-validation.yml is referencing action gradle/wrapper-validation-action using references v1. However this reference is missing the commit [89eda1fdc0167f59521d2bb10767f7169fb4d018](https://github.com/gradle/wrapper-validation-action/commits/89eda1fdc0167f59521d2bb10767f7169fb4d018) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by a

[2021-12-20 13:11] #259 closed

[2021-12-20 13:17] eirnym commented on #259
@akulpillai  please update your scripts or data, as specific version is used

[2021-12-23 10:33] eirnym commented on #23
I suppose, I misunderstand this issue.

Kotlin projects are now fully supported. For kotlin generator I'll open a new issue

[2021-12-23 10:33] #23 closed

[2022-01-05 04:06] gAmUssA commented on #218
@eirnym I'm wondering if you were able to sort it out. Thank you

[2022-01-15 02:06] eirnym commented on #218
Hey, it's not yet finished, but I'm way closer to the point.

[2022-01-15 02:06] eirnym commented on #218
Working alone on an open source project isn't so fast and easy. I also have a very little feedback

[2022-05-06 07:30] RappC opened #351 "No files generated for adaptive-card.json"
I'm trying to create Java classes for the schema https://adaptivecards.io/schemas/adaptive-card.json which I have stored in `src/main/resources/json/adaptive-card.json`

Gradle task runs successfully and output directory is created. But the output directory does not contain any files.
When running gradle with `--debug` option I don't see any suspicious output.

* `build.gradle`
[code]
* Gradle Ver

[2022-05-08 09:36] eirnym commented on #351
Thank you for an issue. I also have same issues with other similar files as well, so I do following actions every time main json file is changed (so I don't need to do it every time). Following actions are safe and won't be affect validation process.

Please comment to the issue if you have any questions

There's a few issues for an underlying library I can't fix for you here. But I can give you a

[2022-05-08 09:37] eirnym commented on #351
I close the issue, feel free to reopen or discuss it further it in any time

[2022-05-08 09:37] #351 closed

[2022-08-25 09:45] vlsi opened #401 "Avoid failing when java/android plugins are not present during js2d plugin application"
Here's what I have with Gradle 6.8.3

[code]

The corresponding `build.gradle.kts` is as follows:

[code]

Even though Gradle 7.3+ fixes https://github.com/gradle/gradle/issues/15664, js2d could use `plugins.withIth(..)` to catch the moment when the relevant plugin is applied

[code]

The same goes for  https://github.com/jsonschema2dataclass/js2d-gradle/blob/7ec6ad00e40280b6898d82785c493f9b82387b

[2022-08-25 23:11] #401 closed

[2022-08-26 10:50] vlsi commented on #401
See https://github.com/jsonschema2dataclass/js2d-gradle/pull/405

[2022-08-29 07:41] donat opened #406 "Plugin coordinates changed"
Version 4.2.3 of https://plugins.gradle.org/plugin/org.jsonschema2dataclass has new coordinates in 4.2.3. The new GAV is `org.jsonschema2dataclass:JsonSchema2DataClass:4.3.0`. You probably want to update this code accordingly:

https://github.com/jsonschema2dataclass/js2d-gradle/blob/main/demo/android/agp7/build.gradle#L10

[2022-08-29 10:04] eirnym commented on #406
This is correct, thank you for a heads up on that.

[2022-08-29 15:24] eirnym commented on #406
Generated code is always java, it's a limitation of underlying library

Android AGP7 example shows few strange things
* There's no such problem in `4.2.0`
* Libraries in the example (see `:lib` and `:lib2` gradle modules in the example) correctly attach generated code
* Android Studio shows and attaches generated path correctly, I can view and edit main class
* Kotlin build system doesn't attach g

[2022-08-30 05:18] eirnym commented on #406
I found a workaround to fix an issue. It's the same as is used for `protobuf` plugin

[2022-08-30 05:32] #406 closed

[2022-09-06 10:01] KirillMakrutin opened #421 "formatTypeMapping config has no effect"
Hi!

I couldn't make _formatTypeMapping_ work - both groovy and kotlin demos don't work.

Here is what I was trying to achieve (e.g. groovy):
- in _address.json_ I had a new _id_ property: `"id": {
      "type": "integer",
      "format": "int64"
    }`
- in _build.gradle_ I added to _jsonSchema2Pojo_: `formatTypeMapping = ["int64": "java.lang.Long"]`

Expected output should be _Address.id: Long_,

[2022-09-06 13:50] eirnym commented on #421
Thank you for an issue

It's interesting, I'll look into it

[2022-09-08 19:19] vlsi opened #429 "configuration cache: Js2pGenerationTask: invocation of 'Task.project' at execution time is unsupported"
See https://github.com/jsonschema2dataclass/js2d-gradle/blob/f0aa65a21e13ee55e0a79bb150611d9d0861db0a/src/main/kotlin/org/jsonschema2dataclass/js2p/Js2pGenerationTask.kt#L28-L30

Test case:
* `org.gradle.unsafe.configuration-cache=true`
* Gradle 7.4.2

Sample project: https://github.com/sigstore/sigstore-java

[2022-09-08 21:50] eirnym commented on #429
Interesting…

It wasn't easy to pass whole configuration object as an input directly, so I passed only name of it. It's worth a while to try it again.

[2022-09-19 16:52] eirnym commented on #429
Ok, I done this in the least change possible. Passing tons of configuration items all the time is a nightmare, though

[2022-09-19 18:50] vlsi commented on #429
Frankly speaking, I don't understand why so many properties is needed, however, have you considered passing `@Nested` configuration object instead? (e.g. https://docs.gradle.org/current/userguide/custom_gradle_types.html#read_only_managed_nested_properties)

[2022-09-19 19:39] eirnym commented on #429
JsonSchema2Pojo requires all of them.

[2022-09-19 19:47] eirnym commented on #429
`@Nested` is a nice solution. It's possible to use it at some point. I've tried to revert all changes from this PR and apply it. In my case almost all tests have failed. and I feel that I do more harm than help the situation

[2022-09-19 19:47] eirnym commented on #429
Feel free to propose a PR

[2022-09-19 20:15] #429 closed

[2022-09-19 20:46] eirnym commented on #421
@KirillMakrutin  Hi, I created a PR to fix your issue, do you mind to review and check it before I merge?

[2022-09-20 15:05] #421 closed

[2022-09-21 15:16] KirillMakrutin commented on #421
Sorry, didn't notice your message in time - looks good, thanks!

[2022-09-21 15:38] eirnym commented on #421
So I'll release new version soon

[2022-10-03 07:48] sergeykad commented on #13
I am trying to execute another task before `generateJsonSchema2DataClass` but everything returns an error.

I tried the following options:

1. `generateJsonSchema2DataClass.dependsOn(myTask)`
2. `tasks.generateJsonSchema2DataClass.dependsOn(myTask)`
3. `project.tasks.generateJsonSchema2DataClass.dependsOn(myTask)`
4. `generateJsonSchema2DataClass.configure { dependsOn myTask }`
5. `tasks.withType(

[2022-10-03 09:20] #13 closed

[2022-10-03 09:21] eirnym commented on #13
@sergeykad please, open a new issue with it

[2022-10-03 09:35] sergeykad opened #450 "Using dependsOn causes error"
I want to migrate from the official plugin and apart from replacing `source` with `source.setFrom` in configuration, everything went fine. That is until I replaced task dependency with the new task.  I need to execute another task before `generateJsonSchema2DataClass` but all my attempts resulted in an error.

I tried the following approaches:

1. `generateJsonSchema2DataClass.dependsOn(myTask)`
2

[2022-10-03 10:32] eirnym commented on #450
Could you explain your case a bit more than ending results? What is the goal you want to a achieve?

The only reason I can suppose is you want to process resources (copy, download, unzip, etc) before passing them to the generator, is my guess correct or you have a bit more complicated scenario I haven't thought about?

[2022-10-03 11:11] sergeykad commented on #450
We have a custom task that preprocesses JSON files before they are fed to the `JsonSchema2pojo`.

I checked it now and our task is indeed executed since `ProcessingResources` depends on it. I see that there is no issue after all and I just have to remove the `generateJsonSchema2Pojo.dependsOn(myTask)` string instead of changing it.

Thanks a lot.

[2022-10-03 11:51] eirnym commented on #450
Thank you too!

[2022-10-04 11:09] sergeykad commented on #450
I was too quick to close the issue. I missed it previously, but there is the following warning from Gradle:

Adding `sourcesJar.dependsOn(generateJsonSchema2DataClass)` results in the same error as mentioned previously.
The same dependency works fine with the original plugin.

[2022-10-04 12:06] eirnym commented on #450
Correct, you can't hook on the generator task itself. Currently, all tasks are created on `afterEvaluate` stage. This could be changed later on if more precision is required.

Generator task depends on `ProcessingResources` and lombok and compile tasks (java and kotlin) depend on generator task.

Thus you may hook either before `ProcessingResources` or after `build`.

To pack schemas and sources I

[2022-10-04 21:35] eirnym commented on #450
Did this a trick for you?

[2022-10-06 07:40] sergeykad commented on #450
I meanwhile gave up on creating sources jars. I will try your solution if I'll see that I have to create them.
Thanks in any case. The support is appreciated.

[2022-10-17 07:17] dmeibusch opened #466 "useTitleAsClassname and useJakartaValidation boolean values are switched"
See:
https://github.com/jsonschema2dataclass/js2d-gradle/blob/5e8167278c27f029f72d58ac6b2e5a12170a5190/src/main/kotlin/org/jsonschema2dataclass/js2p/Js2dConfig.kt#L321

when you configure one you are actually configuring the other.
Took me hours to work out the strange behaviour as I toggled these values in my build config.

[2022-10-17 17:44] eirnym commented on #466
Nice find, thank you!

[2022-10-17 22:44] #466 closed

[2022-10-18 12:54] eirnym commented on #466
Fix released in 4.5.0

[2022-10-31 18:17] jkerak-skyhook opened #482 "What is the difference between this and jsonschema2pojo?"
It's not clear from the readme, why would I use this project instead of jsonschema2pojo? what additional features are provided?

[2022-11-01 15:43] eirnym commented on #482
Currently it way better handles integration with Gradle 6.0-7.5.1 and beyond and few other plugins like Kotlin and Lombok. Also it is published on the gradle plugin portal.

[2022-11-01 15:47] eirnym commented on #482
Everyone is welcome to contribute

[2022-11-01 17:31] corbetmw commented on #13
Hi! I'm getting this issue as well. Was there a new ticket created? If so, could it be linked here?

[2022-11-01 21:09] eirnym commented on #13
@corbetmw hi there

Could you describe the exact thing you're trying to achieve?